body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #161d26;
  color: #dee8ed;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #404040;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}
