<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="G. (Kyria) Bisch">

    <title>Mining Ledger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var chart_data = {{ chart_data|tojson }};
    </script>
</head>

<body>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&amp;h=30" alt="Log in with eveonline.com" />
</a>

{% else %}
<!--
Hello <strong>{{ current_user.character_name }}</strong><br>
Your wallet is currently full of <strong>{{ wallet }}</strong> ISK
<br>
<br>
{% for character in characters %}
<table border="1">
    <tr><td>Character Name:</td><td>{{ character.character_name }}</td></tr>
    <tr><td>Character ID:</td><td>{{ character.character_id }}</td></tr>
    <tr><td>Character Owner Hash:</td><td>{{ character.character_owner_hash }}</td></tr>
    <tr><td>Access Token:</td><td>{{ character.access_token }}</td></tr>
    <tr><td>Access Token valid until:</td><td>{{ character.access_token_expires }}</td></tr>
    <tr><td>Refresh Token:</td><td>{{ character.refresh_token }}</td></tr>
</table>
<br>
{% endfor %}
-->
<strong>Characters:</strong>
<table border="1">
{% for character in characters %}
    <tr>
        <td>{{ character.character_name }}</td>
        <td><a class="button" href="{{ url_for('logout') }}?character_id={{ character.character_id }}">Logout</a></td>
        <td><a class="button update" href=# id={{ character.character_id }}>Update Data</a></td>
    </tr>
{% endfor %}
</table>
<a class="button" href="{{ url_for('login') }}">Add Character</a>
<br>

<div id="container" style="width:100%; height:400px;"></div>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Character</th>
        <th>Ore Type</th>
        <th>Amount</th>
        <th>Volume</th>
        <th>Total Vol</th>
    </tr>
    {% for item in data %}
    <tr>
        <th>{{ item.date }}</th>
        <th>{{ item.character_name}}</th>
        <th>{{ item.ore_name }}</th>
        <th>{{ item.quantity }}</th>
        <th>{{ item.volume }}</th>
        <th>{{ item.volume * item.quantity }}</th>
    <tr>
    {% endfor %}
</table>
<br>
<br>

{% endif %}

